@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DINRegular";
  src: local("DINRegular"),
    url("./assets//fonts//DINNextLTArabic-Regular-3.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'DINRegular';
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}